<h1>Your images</h1>
<div>
  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="title">Alphabetical</option>
    <option value="age">Newest</option>

  </select>

  <ul>
    <li ng-repeat="image in images | filter:query | orderBy:orderProp">
      <span> {{image.title}} </span>
      <p> {{image.snippet}} </p>
      <p> <img src="{{image.imageUrl}}" alt="{{image.title}}" style="width:304px;"></p>

    </li>
  </ul>

  <!--<form name="uploadNew" ng-controller="newPic as additionCtrl" ng-submit="uploadNew.$valid && additionCtrl.addPic()" novalidate>-->

    <!--<label>Image title</label>-->
    <!--<textarea ng-model="additionCtrl.image.title" required></textarea></br>-->
    <!--<label>Image description</label>-->
    <!--<textarea ng-model="additionCtrl.image.desc" required></textarea></br>-->
    <!--<label>Image URL</label>-->
    <!--<textarea ng-model="additionCtrl.image.linkage" required></textarea>-->

    <!--<div>upload is {{uploadNew.$valid}}</div>-->
    <!--<input type="submit" value="Upload"/>-->

  <!--</form>-->

  <form ng-submit="submit()" ng-controller="View2Ctrl">
  Enter text and hit enter:
    <!--<input type="text" ng-model="uploadCtrl.text" name="text" />-->
    <input type="text" ng-model="text" name="text" />
    <input type="submit" id="submit" value="Submit" />
    <pre>list={{list}}</pre>
  </form>

</div>

<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
